div {
  height: 150px;
  width: 150px;
  margin: 20px auto;
  border: 3px solid black;
  background-color: cyan;
  border-radius: 50%;
  animation: 1s ease-in infinite alternate bounce;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(620px);
  }
}
