body {
  perspective: 1200px;
}

div {
  width: 500px;
  height: 300px;
  /* border: 1px solid #ccc; */
  margin: 0px auto;
}

.side-a,
.side-b {
  position: absolute;
  backface-visibility: hidden;
}

.side-a {
  background-color: palevioletred;
  z-index: 1;
}
.side-b {
  background-color: palegoldenrod;
  transform: rotateY(180deg);
  padding: 10px;
}

.wrapper {
  transition: 1s;
  transform-style: preserve-3d;
}

.wrapper:hover {
  transform: rotateY(180deg);
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}
